openapi: 3.0.3
info:
  title: Bilibili API
  version: v0.1.0
  description: Bilibili API 文档。
paths:
  /x/activity/subject/info:
    get:
      tags:
        - 活动
      servers:
        - url: https://api.bilibili.com
      summary: 主题信息
      parameters:
        - name: sid
          in: query
          description: 活动 id
          required: true
          schema:
            type: integer
            format: int64
        - name: bvid
          in: query
          description: 来源视频 bvid
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubjectInfoResponse"
  /x/activity/page/list:
    get:
      servers:
        - url: https://api.bilibili.com
      tags:
        - 活动
      summary: 获取活动列表
      parameters:
        - name: plat
          in: query
          description: 活动平台类型?
          required: true
          schema:
            type: string
            enum:
              - "1"
              - "3"
              - 1,3
            default: 1,3
        - name: mold
          in: query
          description: mold
          required: false
          schema:
            type: integer
            format: int64
            default: 0
        - name: http
          in: query
          description: http
          required: false
          schema:
            type: integer
            format: int64
            default: 3
        - name: pn
          in: query
          description: 目标页码
          required: false
          schema:
            type: integer
            format: int64
            default: 1
        - name: ps
          in: query
          description: 每页条数
          required: false
          schema:
            type: integer
            format: int64
            default: 15
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityListResponse"
  /link_draw/v2/Vote/operate:
    post:
      servers:
        - url: https://api.vc.bilibili.com
      security:
        - sessionData: []
      tags:
        - 相簿
      summary: 点赞/取消点赞相簿
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                doc_id:
                  type: integer
                  format: int64
                  description: 相簿 ID
                  example: 99184721
                type:
                  type: integer
                  format: int64
                  description: 操作方式
                  example: 1
                  enum:
                    - 1
                    - 2
                csrf_token:
                  type: string
                  description: CSRF Token
              required:
                - doc_id
                - type
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoteOperateResponse"
  /user_plus/v1/Fav/delete:
    post:
      servers:
        - url: https://api.vc.bilibili.com
      tags:
        - 相簿
      summary: 取消收藏相簿
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                fav_id:
                  type: integer
                  format: int64
                  description: 相簿 ID
                  example: 99184721
                biz_type:
                  type: integer
                  format: int64
                  description: 业务类型
                  example: 2
                csrf_token:
                  type: string
                  description: CSRF Token
              required:
                - fav_id
                - biz_type
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FavOperateResponse"
  /user_plus/v1/Fav/add:
    post:
      servers:
        - url: https://api.vc.bilibili.com
      tags:
        - 相簿
      summary: 收藏相簿
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                fav_id:
                  type: integer
                  format: int64
                  description: 相簿 ID
                  example: 99184721
                biz_type:
                  type: integer
                  format: int64
                  description: 业务类型
                  example: 2
                csrf_token:
                  type: string
                  description: CSRF Token
              required:
                - fav_id
                - biz_type
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FavOperateResponse"
  /photo_activity/v2/Activity/list:
    get:
      servers:
        - url: https://api.vc.bilibili.com
      tags:
        - 相簿
        - 活动
      summary: 获取相簿热门活动列表
      parameters:
        - name: type
          in: query
          description: 活动类型
          required: false
          schema:
            type: integer
            format: int64
            enum:
              - 0
              - 1
              - 2
            default: 0
        - name: biz
          in: query
          description: 分区
          required: false
          schema:
            type: integer
            format: int64
            enum:
              - 0
              - 1
              - 2
            default: 0
        - name: page_num
          in: query
          description: 页码
          required: false
          schema:
            type: integer
            format: int64
            default: 4
        - name: page_size
          in: query
          description: 每页项数
          required: false
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityListResponse"
  /link_draw/v1/doc/detail:
    get:
      servers:
        - url: https://api.vc.bilibili.com
      tags:
        - 相簿
      summary: 获取相簿详细信息
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: doc_id
          in: query
          description: 目标相簿 ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumDetailResponse"
  /link_draw/v2/Doc/index:
    get:
      tags:
        - 相簿
      servers:
        - url: https://api.vc.bilibili.com
      summary: 获取画友首页列表
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: type
          in: query
          description: 排序方式
          required: true
          schema:
            type: string
            enum:
              - recommend
              - hot
              - new
        - name: page_num
          in: query
          description: 页码
          required: false
          schema:
            type: integer
            format: int64
            default: 1
        - name: page_size
          in: query
          description: 每页项数
          required: false
          schema:
            type: integer
            format: int64
            default: 45
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumIndexResponse"
  /link_draw/v2/Photo/index:
    get:
      tags:
        - 相簿
      servers:
        - url: https://api.vc.bilibili.com
      summary: 获取摄影首页列表
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: type
          in: query
          description: 排序方式
          required: true
          schema:
            type: string
            enum:
              - recommend
        - name: page_num
          in: query
          description: 页码
          required: false
          schema:
            type: integer
            format: int64
            default: 1
        - name: page_size
          in: query
          description: 每页项数
          required: false
          schema:
            type: integer
            format: int64
            default: 45
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumIndexResponse"
  /link_draw/v2/Doc/list:
    get:
      tags:
        - 相簿
      servers:
        - url: https://api.vc.bilibili.com
      summary: 获取画友列表
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: category
          in: query
          description: 类型
          required: true
          schema:
            type: string
            enum:
              - all
              - illustration
              - comic
              - draw
        - name: type
          in: query
          description: 排序方式
          required: true
          schema:
            type: string
            enum:
              - hot
              - new
        - name: page_num
          in: query
          description: 页码
          required: false
          schema:
            type: integer
            format: int64
            default: 1
        - name: page_size
          in: query
          description: 每页项数
          required: false
          schema:
            type: integer
            format: int64
            default: 45
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumIndexResponse"
  /link_draw/v2/Photo/list:
    get:
      tags:
        - 相簿
      servers:
        - url: https://api.vc.bilibili.com
      summary: 获取摄影列表
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: category
          in: query
          description: 类型
          required: true
          schema:
            type: string
            enum:
              - cos
              - sifu
        - name: type
          in: query
          description: 排序方式
          required: true
          schema:
            type: string
            enum:
              - hot
              - new
        - name: page_num
          in: query
          description: 页码
          required: false
          schema:
            type: integer
            format: int64
            default: 1
        - name: page_size
          in: query
          description: 每页项数
          required: false
          schema:
            type: integer
            format: int64
            default: 45
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumIndexResponse"
  /link_draw/v1/doc/others:
    get:
      tags:
        - 相簿
      servers:
        - url: https://api.vc.bilibili.com
      summary: 获取指定用户的相簿列表
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: biz
          in: query
          description: 分区
          required: false
          schema:
            type: integer
            format: int64
            enum:
              - 0
              - 1
              - 2
            default: 0
        - name: poster_uid
          in: query
          description: 作者 mid
          required: true
          schema:
            type: integer
            format: int64
        - name: page_num
          in: query
          description: 页码
          required: false
          schema:
            type: integer
            format: int64
            default: 1
        - name: page_size
          in: query
          description: 每页项数
          required: false
          schema:
            type: integer
            format: int64
            default: 45
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumOthersResponse"
  /link_draw/v2/Photo/uper:
    get:
      tags:
        - 相簿
      servers:
        - url: https://api.vc.bilibili.com
      summary: 获取摄影推荐作者
      parameters:
        - name: num
          in: query
          description: 请求数量
          required: false
          schema:
            type: integer
            format: int64
            default: 6
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendedUserResponse"
  /link_draw/v2/Doc/drawer:
    get:
      tags:
        - 相簿
      servers:
        - url: https://api.vc.bilibili.com
      summary: 获取画友推荐作者
      parameters:
        - name: num
          in: query
          description: 请求数量
          required: false
          schema:
            type: integer
            format: int64
            default: 6
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendedUserResponse"
  /x/v2/splash/brand/list:
    get:
      tags:
        - APP
      servers:
        - url: https://app.bilibili.com
      summary: 获取 APP 端开屏图片列表
      parameters:
        - name: appkey
          in: query
          description: APP 密钥
          required: true
          schema:
            type: string
        - name: ts
          in: query
          description: 当前时间戳
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          description: APP 签名
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplashBrandListResponse"
  /x/v2/splash/list:
    get:
      tags:
        - APP
      servers:
        - url: https://app.bilibili.com
      summary: 获取 APP 端开屏幕广告信息
      parameters:
        - name: build
          in: query
          description: 客户端内部版本号
          required: true
          schema:
            type: integer
            format: int64
        - name: mobi_app
          in: query
          description: mobi_app
          required: true
          schema:
            type: string
            enum:
              - android
              - iphone
              - ipad
        - name: platform
          in: query
          description: platform
          required: true
          schema:
            type: string
            enum:
              - android
              - ios
        - name: height
          in: query
          description: 屏幕高度
          required: true
          schema:
            type: integer
            format: int64
        - name: width
          in: query
          description: 屏幕宽度
          required: true
          schema:
            type: integer
            format: int64
        - name: birth
          in: query
          description: 生日日期 (四位数，例 0101)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplashListResponse"
  /x/v2/version:
    get:
      tags:
        - APP
      servers:
        - url: https://app.bilibili.com
      summary: 获取版本信息
      parameters:
        - name: mobi_app
          in: query
          description: 目标客户端类型
          required: false
          schema:
            type: string
            enum:
              - android
              - iphone
              - ipad
              - win
              - android_tv_yst
              - android_car
              - pc_client
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionResponse"
  /x/v2/version/fawkes/upgrade:
    get:
      tags:
        - APP
      servers:
        - url: https://app.bilibili.com
      summary: 版本升级
      parameters:
        - name: abi
          in: query
          description: 设备 CPU ABI
          required: false
          schema:
            type: string
            example: arm64-v8a
        - name: appid
          in: query
          description: 客户端类型
          required: false
          schema:
            type: string
            example: tv.danmaku.bili
        - name: brand
          in: query
          description: 设备品牌
          required: false
          schema:
            type: string
            example: google
        - name: build
          in: query
          description: 当前 APP 版本号
          required: true
          schema:
            type: integer
            format: int64
            example: 8000200
        - name: channel
          in: query
          description: APP 分发渠道
          required: true
          schema:
            type: string
            example: master
        - name: deviceid
          in: query
          description: 设备唯一 ID
          required: false
          schema:
            type: string
        - name: env
          in: query
          description: APP 分发环境
          required: false
          schema:
            type: string
            default: prod
        - name: iv
          in: query
          description: 当前 APP innerVer
          required: false
          schema:
            type: integer
            format: int64
            example: 8000210
        - name: mobi_app
          in: query
          description: APP mobi_app
          required: true
          schema:
            type: string
            example: android
        - name: model
          in: query
          description: 设备型号
          required: false
          schema:
            type: string
            example: Pixel 2 XL
        - name: nt
          in: query
          description: nt
          required: true
          schema:
            type: string
            default: "1"
        - name: ov
          in: query
          description: 设备 OS 版本
          required: true
          schema:
            type: string
            example: "30"
        - name: platform
          in: query
          description: 设备平台
          required: false
          schema:
            type: string
            example: android
        - name: screen
          in: query
          description: 设备屏幕参数
          required: false
          schema:
            type: string
            example: 2712_1440@537.882_537.882
        - name: sn
          in: query
          description: 当前 APP SN
          required: true
          schema:
            type: integer
            format: int64
            example: 15088473
        - name: vn
          in: query
          description: 当前 APP 版本名称
          required: true
          schema:
            type: string
            example: 8.0.0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpgradeResponse"
  /x/article/like:
    post:
      tags:
        - 专栏
      servers:
        - url: https://api.bilibili.com
      summary: 点赞文章
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  description: 文章 cv id
                  example: 5806746
                type:
                  type: integer
                  format: int64
                  description: 操作方式
                  example: 1
                  enum:
                    - 1
                    - 2
                csrf:
                  type: string
                  description: CSRF Token
              required:
                - id
                - type
                - csrf
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleLikeResponse"
  /x/web-interface/coin/add:
    post:
      tags:
        - 专栏
      servers:
        - url: https://api.bilibili.com
      summary: 投币文章
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                aid:
                  type: integer
                  format: int64
                  description: 文章 cv id
                  example: 5806746
                upid:
                  type: integer
                  format: int64
                  description: 文章作者 mid
                  example: 486980924
                multiply:
                  type: integer
                  format: int64
                  description: 投币数量
                  example: 1
                  maximum: 2
                avtype:
                  type: integer
                  format: int64
                  description: avtype
                  example: 2
                csrf:
                  type: string
                  description: CSRF Token
              required:
                - aid
                - upid
                - multiply
                - avtype
                - csrf
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleCoinAddResponse"
  /x/article/favorites/add:
    post:
      tags:
        - 专栏
      servers:
        - url: https://api.bilibili.com
      summary: 收藏文章
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  description: 文章 cv id
                  example: 5806746
                csrf:
                  type: string
                  description: CSRF Token
              required:
                - id
                - csrf
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleFavoritesAddResponse"
  /x/article/list/web/articles:
    get:
      tags:
        - 专栏
      servers:
        - url: https://api.bilibili.com
      summary: 获取文集基本信息
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: id
          in: query
          description: 文集 rl id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleListWebArticlesResponse"
  /x/article/viewinfo:
    get:
      tags:
        - 专栏
      servers:
        - url: https://api.bilibili.com
      summary: 获取专栏文章基本信息
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: id
          in: query
          description: 专栏 cv id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleViewInfoResponse"
  /x/space/wbi/article:
    get:
      tags:
        - 用户
      servers:
        - url: https://api.bilibili.com
      summary: 获取用户专栏文章列表
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: mid
          in: query
          description: 用户 uid
          required: true
          schema:
            type: integer
            format: int64
        - name: pn
          in: query
          description: 页码
          required: false
          schema:
            type: integer
            format: int64
            default: 1
        - name: ps
          in: query
          description: 每页数量
          required: false
          schema:
            type: integer
            format: int64
            default: 30
            minimum: 1
            maximum: 30
        - name: sort
          in: query
          description: 排序方式
          required: false
          schema:
            type: string
            enum:
              - publish_time
              - view
              - fav
            default: publish_time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceWbiArticleResponse"
  /x/space/article:
    get:
      tags:
        - 用户
      servers:
        - url: https://api.bilibili.com
      summary: 获取用户专栏文章列表（旧）
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: mid
          in: query
          description: 用户 uid
          required: true
          schema:
            type: integer
            format: int64
        - name: pn
          in: query
          description: 页码
          required: false
          schema:
            type: integer
            format: int64
            default: 1
        - name: ps
          in: query
          description: 每页数量
          required: false
          schema:
            type: integer
            format: int64
            default: 30
            minimum: 1
            maximum: 30
        - name: sort
          in: query
          description: 排序方式
          required: false
          schema:
            type: string
            enum:
              - publish_time
              - view
              - fav
            default: publish_time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceArticleResponse"
  /x/article/up/lists:
    get:
      tags:
        - 用户
      servers:
        - url: https://api.bilibili.com
      summary: 获取用户专栏文集列表
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - name: mid
          in: query
          description: 用户 uid
          required: true
          schema:
            type: integer
            format: int64
        - name: sort
          in: query
          description: 排序方式
          required: false
          schema:
            type: integer
            format: int64
            enum:
              - 0
              - 1
            default: 0
        - name: jsonp
          in: query
          description: jsonp
          required: false
          schema:
            type: string
        - name: callback
          in: query
          description: callback
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleUpListsResponse"
  /audio/music-service-c/web/collections/songs-coll:
    get:
      tags:
        - 音频
      servers:
        - url: https://www.bilibili.com
      summary: 查询音频收藏状态
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - in: cookie
          name: DedeUserID
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          description: DedeUserID Cookie
        - name: sid
          in: query
          description: 音频 au id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioCollectionStatusResponse"
  /audio/music-service-c/web/coin/audio:
    get:
      tags:
        - 音频
      servers:
        - url: https://www.bilibili.com
      summary: 查询音频投币数
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
        - in: cookie
          name: DedeUserID
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          description: DedeUserID Cookie
        - name: sid
          in: query
          description: 音频 au id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioCoinNumResponse"
  /audio/music-service-c/web/coin/add:
    post:
      tags:
        - 音频
      servers:
        - url: https://www.bilibili.com
      summary: 投币音频
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                sid:
                  type: integer
                  format: int64
                  description: 音频 au id
                  example: 15664
                multiply:
                  type: integer
                  format: int64
                  description: 投币数量
                  maximum: 2
                csrf:
                  type: string
                  description: CSRF Token
              required:
                - sid
                - multiply
                - csrf
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioCoinAddResponse"
  /audio/music-service-c/web/song/info:
    get:
      tags:
        - 音频
      servers:
        - url: https://www.bilibili.com
      parameters:
        - name: sid
          in: query
          description: 音频auid
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SongInfoResponse"
  /audio/music-service-c/web/tag/song:
    get:
      tags:
        - 音频
      servers:
        - url: https://www.bilibili.com
      parameters:
        - name: sid
          in: query
          description: 音频auid
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SongTagResponse"
  /audio/music-service-c/web/member/song:
    get:
      tags:
        - 音频
      servers:
        - url: https://www.bilibili.com
      parameters:
        - name: sid
          in: query
          description: 音频auid
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SongMemberResponse"
  /audio/music-service-c/web/song/lyric:
    get:
      tags:
        - 音频
      servers:
        - url: https://www.bilibili.com
      parameters:
        - name: sid
          in: query
          description: 音频auid
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SongLyricResponse"
  /audio/music-service-c/web/url:
    get:
      tags:
        - 音频
      servers:
        - url: https://www.bilibili.com
      parameters:
        - name: sid
          in: query
          description: 音频auid
          schema:
            type: integer
          required: true
        - name: quality
          in: query
          description: 音质代码, 详见表格
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
          required: true
        - name: privilege
          in: query
          description: 必须为2
          schema:
            type: integer
            enum:
              - 2
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioUrlResponse"
  /audio/music-service-c/url:
    get:
      tags:
        - 音频
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
          required: true
        - name: songid
          in: query
          description: 音频auid
          schema:
            type: integer
          required: true
        - name: quality
          in: query
          description: 音质代码, 详见表格
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
          required: true
        - name: privilege
          in: query
          description: 必须为2
          schema:
            type: integer
            enum:
              - 2
          required: true
        - name: mid
          in: query
          description: 当前用户mid, 可为任意值
          schema:
            type: integer
          required: true
        - name: platform
          in: query
          description: 平台标识, 可为任意值
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioUrlResponse"
  /x/copyright-music-publicity/toplist/all_period:
    get:
      tags:
        - 音频
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: list_type
          in: query
          description: 榜单类型
          schema:
            type: integer
            enum:
              - 1
              - 2
          required: true
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToplistAllPeriodResponse"
  /x/copyright-music-publicity/toplist/detail:
    get:
      tags:
        - 音频
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: list_id
          in: query
          description: 榜单id, 见[获取音频榜单每期列表](#获取音频榜单每期列表)
          schema:
            type: integer
          required: true
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToplistDetailResponse"
  /x/copyright-music-publicity/toplist/music_list:
    get:
      tags:
        - 音频
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: list_id
          in: query
          description: 榜单id, 见[获取音频榜单每期列表](#获取音频榜单每期列表)
          schema:
            type: integer
          required: true
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToplistMusicListResponse"
  /x/copyright-music-publicity/toplist/subscribe/update:
    post:
      tags:
        - 音频
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: state
          in: query
          description: 操作代码
          schema:
            type: integer
            enum:
              - 1
              - 2
          required: true
        - name: list_id
          in: query
          description: 榜单id, 见[获取音频榜单每期列表](#获取音频榜单每期列表)
          schema:
            type: integer
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToplistSubscribeUpdateResponse"
  /audio/music-service-c/web/stat/song:
    get:
      tags:
        - 音频
      servers:
        - url: https://www.bilibili.com
      parameters:
        - name: sid
          in: query
          description: 音频auid
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioStatResponse"
  /pgc/web/follow/add:
    post:
      tags:
        - 追番
      servers:
        - url: https://api.bilibili.com
      summary: 追番
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                season_id:
                  type: string
                  description: 剧集 ss id
                  example: "41410"
                csrf:
                  type: string
                  description: csrf token
              required:
                - season_id
                - csrf
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PgcWebFollowAddResponse"
  /pgc/web/follow/del:
    post:
      tags:
        - 追番
      servers:
        - url: https://api.bilibili.com
      summary: 取消追番
      parameters:
        - in: cookie
          name: SESSDATA
          required: true
          schema:
            type: string
          description: SESSDATA Cookie
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                season_id:
                  type: string
                  description: 剧集 ss id
                  example: "41410"
                csrf:
                  type: string
                  description: csrf token
              required:
                - season_id
                - csrf
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PgcWebFollowDelResponse"
  /pgc/review/user:
    get:
      tags:
        - 剧集信息
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: media_id
          in: query
          description: 剧集mdid
          schema:
            type: string
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PgcReviewUserResponse"
  /pgc/view/web/season:
    get:
      tags:
        - 剧集信息
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: season_id
          in: query
          description: 番剧ssid
          schema:
            type: integer
        - name: ep_id
          in: query
          description: 剧集epid
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PgcViewWebSeasonResponse"
  /pgc/web/season/section:
    get:
      tags:
        - 剧集信息
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: season_id
          in: query
          description: 剧集ssid
          schema:
            type: integer
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PgcWebSeasonSectionResponse"
  /pgc/web/timeline:
    get:
      tags:
        - 番剧时间线
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: types
          in: query
          description: 类别
          schema:
            type: string
            enum:
              - "1"
              - "3"
              - "4"
          required: true
        - name: before
          in: query
          description: 开始于前几日
          schema:
            type: integer
          required: true
        - name: after
          in: query
          description: 结束于后几日
          schema:
            type: integer
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PgcWebTimelineResponse"
  /pgc/player/web/playurl:
    get:
      tags:
        - 视频流
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: avid
          in: query
          description: 稿件avid
          schema:
            type: integer
        - name: bvid
          in: query
          description: 稿件bvid
          schema:
            type: string
        - name: ep_id
          in: query
          description: 稿件epid
          schema:
            type: integer
        - name: cid
          in: query
          description: 视频cid
          schema:
            type: integer
        - name: qn
          in: query
          description: 视频清晰度选择, 未登录默认32(480P), 登录默认64(720P), 值含义见表格
          schema:
            type: integer
            enum:
              - 6
              - 16
              - 32
              - 64
              - 74
              - 80
              - 112
              - 116
              - 120
        - name: fnval
          in: query
          description:
            视频获取方式选择, 默认为0, 0 2:flv方式(可能会有分段) 1:低清mp4方式(仅240P与360P,且限速65K/s)
            16 80:dash方式(音视频分流,支持H.265)
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 16
              - 80
        - name: fnver
          in: query
          description: 固定为0
          schema:
            type: integer
            enum:
              - 0
        - name: fourk
          in: query
          description: 是否允许4K视频, 默认为0, 画质最高1080P:0, 画质最高4K:1
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: session
          in: query
          description: 从视频播放页的网页源码中获取
          schema:
            type: string
        - name: from_client
          in: query
          description: 固定值:BROWSER
          schema:
            type: string
        - name: drm_tech_type
          in: query
          description: 固定值:2
          schema:
            type: integer
            enum:
              - 2
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PgcPlayerWebPlayurlResponse"
  /x/credit/v2/jury/apply:
    post:
      tags:
        - 仲裁操作
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: csrf
          in: query
          description: cookie中`bili_jct`的值
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditJuryApplyResponse"
  /x/credit/v2/jury/case/next:
    get:
      tags:
        - 仲裁操作
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: cookie
          in: header
          description: cookie
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditJuryCaseNextResponse"
  /x/credit/v2/jury/vote:
    post:
      tags:
        - 仲裁操作
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: case_id
          in: query
          description: 案件id
          schema:
            type: string
          required: true
        - name: vote
          in: query
          description: 投票类型, 见「[众裁信息](judgement_info.md)」中表
          schema:
            type: integer
          required: true
        - name: insiders
          in: query
          description: 是否观看此类视频, 默认值为0, 见「[众裁信息](judgement_info.md)」中表
          schema:
            type: integer
        - name: content
          in: query
          description: 理由
          schema:
            type: string
        - name: anonymous
          in: query
          description: 是否匿名, 默认值为0, 0:不匿名 1:匿名
          schema:
            type: integer
        - name: csrf
          in: query
          description: cookie中`bili_jct`的值
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditJuryVoteResponse"
  /x/credit/v2/jury/jury:
    get:
      tags:
        - 风纪委员会
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditJuryJuryResponse"
  /x/credit/v2/jury/kpi:
    get:
      tags:
        - 风纪委员会
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: term_id
          in: query
          description: 任期id, 未传参或留空时, **只**返回最近一次已结束的任期的数据
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditJuryKpiResponse"
  /x/credit/v2/jury/requirement:
    get:
      tags:
        - 风纪委员会
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditJuryRequirementResponse"
  /x/credit/v2/jury/case/info:
    get:
      tags:
        - 众裁信息
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
        - name: case_id
          in: query
          description: 案件id
          schema:
            type: string
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditJuryCaseInfoResponse"
  /x/credit/v2/jury/case/list:
    get:
      tags:
        - 众裁信息
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: pn
          in: query
          description: 页码
          schema:
            type: integer
        - name: ps
          in: query
          description: 每页显示数量
          schema:
            type: integer
        - name: Cookie
          in: header
          description: Cookie
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditJuryCaseListResponse"
  /x/credit/v2/jury/case/opinion:
    get:
      tags:
        - 众裁信息
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: Cookie
          in: header
          description: Cookie
          schema:
            type: string
          required: true
        - name: case_id
          in: query
          description: 仲裁案件id
          schema:
            type: string
          required: true
        - name: pn
          in: query
          description: 显示第x页
          schema:
            type: integer
        - name: ps
          in: query
          description: 每页显示y条观点
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditJuryCaseOpinionResponse"
  /x/credit/blocked/list:
    get:
      tags:
        - 封禁公示
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: btype
          in: query
          description: 来源筛选, 仲裁系统升级后`1`类型已不再更新
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: otype
          in: query
          description: 类型筛选, 默认为`0`, 全部类型
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 8
              - 10
              - 11
        - name: pn
          in: query
          description: 页码
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockedListResponse"
  /x/credit/blocked/info:
    get:
      tags:
        - 封禁公示
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: id
          in: query
          description: 封禁公示id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockedInfoResponse"
  /x/web-interface/broadcast/servers:
    get:
      tags:
        - 全站广播
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: platform
          in: query
          description: 平台选择
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BroadcastServersResponse"
  /pugv/view/web/season:
    get:
      tags:
        - 课程信息
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: season_id
          in: query
          description: 课程ssid, 与番剧ssid不互通
          schema:
            type: integer
        - name: ep_id
          in: query
          description: 课程epid, 与番剧epid不互通
          schema:
            type: integer
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PugvViewWebSeasonResponse"
  /pugv/view/web/ep/list:
    get:
      tags:
        - 课程信息
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: season_id
          in: query
          description: 课程ssid, 与番剧ssid不互通
          schema:
            type: integer
          required: true
        - name: ps
          in: query
          description: 每页项数, 默认为50
          schema:
            type: integer
        - name: pn
          in: query
          description: 页码, 默认为1
          schema:
            type: integer
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PugvViewWebEpListResponse"
  /pugv/player/web/playurl:
    get:
      tags:
        - 课程视频流
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: avid
          in: query
          description: 课程avid
          schema:
            type: integer
          required: true
        - name: ep_id
          in: query
          description: 课程epid
          schema:
            type: integer
          required: true
        - name: cid
          in: query
          description: 视频cid
          schema:
            type: integer
          required: true
        - name: qn
          in: query
          description: 视频清晰度选择, 参考[qn定义](../video/videostream_url.md#qn视频清晰度标识)
          schema:
            type: integer
            enum:
              - 6
              - 16
              - 32
              - 64
              - 74
              - 80
              - 112
              - 116
              - 120
        - name: fnver
          in: query
          description: 视频流版本, 参考[fnver定义](../video/videostream_url.md#fnver视频流版本标识)
          schema:
            type: integer
        - name: fnval
          in: query
          description: 视频流类型, 参考[fnval定义](../video/videostream_url.md#fnval视频流格式标识)
          schema:
            type: integer
        - name: fourk
          in: query
          description: 是否允许4K视频, 默认为0, 画质最高1080P:0, 画质最高4K:1
          schema:
            type: integer
            enum:
              - 0
              - 1
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PugvPlayerWebPlayurlResponse"
  /x/web-interface/zone:
    get:
      tags:
        - 地理位置
      servers:
        - url: https://api.bilibili.com
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneResponse"
  /xlive/web-room/v1/index/getIpInfo:
    get:
      tags:
        - 地理位置
      servers:
        - url: https://api.live.bilibili.com
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneResponse"
  /ip_service/v1/ip_service/get_ip_addr:
    get:
      tags:
        - 地理位置
      servers:
        - url: https://api.live.bilibili.com
      parameters:
        - name: ip
          in: query
          description: IP地址, IPv4或IPv6地址不限, 留空与[根据请求IP确定地理位置](#根据请求ip确定地理位置)基本相同
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpInfoResponse"
  /client/v1/Ip/getInfoNew:
    get:
      tags:
        - 地理位置
      servers:
        - url: https://api.live.bilibili.com
      parameters:
        - name: ip
          in: query
          description: IP地址, IPv4或IPv6地址不限, 留空与[根据请求IP确定地理位置](#根据请求ip确定地理位置)基本相同
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpInfoResponse"
  /x/v2/reply/add:
    post:
      tags:
        - 评论区操作
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区id
          schema:
            type: integer
          required: true
        - name: root
          in: query
          description: 根评论rpid, 二级评论以上使用
          schema:
            type: integer
        - name: parent
          in: query
          description: 父评论rpid, 二级评论同根评论id, 大于二级评论为要回复的评论id
          schema:
            type: integer
        - name: message
          in: query
          description: 发送评论内容, 最大1000字符, 表情使用表情转义符
          schema:
            type: string
          required: true
        - name: plat
          in: query
          description: 发送平台标识, 默认为1, 1:web端 2:安卓客户端 3:ios客户端 4:wp客户端
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyAddResponse"
  /x/v2/reply/action:
    post:
      tags:
        - 评论区操作
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区id
          schema:
            type: integer
          required: true
        - name: rpid
          in: query
          description: 目标评论rpid
          schema:
            type: integer
          required: true
        - name: action
          in: query
          description: 操作代码, 默认为0, 0:取消赞 1:点赞
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyActionResponse"
  /x/v2/reply/hate:
    post:
      tags:
        - 评论区操作
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区id
          schema:
            type: integer
          required: true
        - name: rpid
          in: query
          description: 目标评论rpid
          schema:
            type: integer
          required: true
        - name: action
          in: query
          description: 操作代码, 默认为0, 0:取消踩 1:点踩
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyHateResponse"
  /x/v2/reply/del:
    post:
      tags:
        - 评论区操作
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区id
          schema:
            type: integer
          required: true
        - name: rpid
          in: query
          description: 目标评论rpid
          schema:
            type: integer
          required: true
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyDelResponse"
  /x/v2/reply/top:
    post:
      tags:
        - 评论区操作
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区id
          schema:
            type: integer
          required: true
        - name: rpid
          in: query
          description: 目标评论rpid
          schema:
            type: integer
          required: true
        - name: action
          in: query
          description: 操作代码, 默认为0, 0:取消置顶 1:设为置顶
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyTopResponse"
  /x/v2/reply/report:
    post:
      tags:
        - 评论区操作
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP登录Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区id
          schema:
            type: integer
          required: true
        - name: rpid
          in: query
          description: 目标评论rpid
          schema:
            type: integer
          required: true
        - name: reason
          in: query
          description: 举报类型, 类型代码见下表
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 13
              - 14
              - 15
              - 16
              - 17
          required: true
        - name: content
          in: query
          description: 其他举报备注, `reason=0`时有效
          schema:
            type: string
        - name: csrf
          in: query
          description: CSRF Token(位于cookie)
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyReportResponse"
  /x/v2/reply:
    get:
      tags:
        - 评论区
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP 登录 Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区 id
          schema:
            type: integer
          required: true
        - name: sort
          in: query
          description: 排序方式, 默认为0, 0:按时间 1:按点赞数 2:按回复数
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
        - name: nohot
          in: query
          description: 是否不显示热评, 默认为0, 1:不显示 0:显示
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: ps
          in: query
          description: 每页项数, 默认为20, 定义域:1-20
          schema:
            type: integer
        - name: pn
          in: query
          description: 页码, 默认为1
          schema:
            type: integer
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyResponse"
  /x/v2/reply/wbi/main:
    get:
      tags:
        - 评论区
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP 登录 Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区 id
          schema:
            type: integer
          required: true
        - name: mode
          in: query
          description: 排序方式, 默认为 3, 0 3:仅按热度 1:按热度+按时间 2:仅按时间
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
        - name: next
          in: query
          description: 翻页, 不推荐, 已弃用, 优先级比 `pagination_str` 高
          schema:
            type: integer
        - name: pagination_str
          in: query
          description: 分页信息, 见下
          schema:
            type: object
            properties:
              offset:
                type: string
        - name: plat
          in: query
          description: 平台类型
          schema:
            type: integer
        - name: seek_rpid
          in: query
          description: 空, 当获取第一页评论时存在
          schema:
            type: string
        - name: web_location
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyWbiMainResponse"
  /x/v2/reply/reply:
    get:
      tags:
        - 评论区
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP 登录 Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区 id
          schema:
            type: integer
          required: true
        - name: root
          in: query
          description: 根回复 rpid
          schema:
            type: integer
          required: true
        - name: ps
          in: query
          description: 每页项数, 默认为20, 定义域:1-49
          schema:
            type: integer
        - name: pn
          in: query
          description: 页码, 默认为1
          schema:
            type: integer
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyReplyResponse"
  /x/v2/reply/dialog/cursor:
    get:
      tags:
        - 评论区
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP 登录 Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区 id
          schema:
            type: integer
          required: true
        - name: root
          in: query
          description: 根回复 rpid
          schema:
            type: integer
          required: true
        - name: dialog
          in: query
          description: 对话树根 rpid
          schema:
            type: integer
          required: true
        - name: size
          in: query
          description: 每页最大项数
          schema:
            type: integer
          required: true
        - name: min_floor
          in: query
          schema:
            type: integer
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyDialogCursorResponse"
  /x/v2/reply/hot:
    get:
      tags:
        - 评论区
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP 登录 Token
          schema:
            type: string
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区 id
          schema:
            type: integer
          required: true
        - name: root
          in: query
          description: 根回复 rpid
          schema:
            type: integer
          required: true
        - name: ps
          in: query
          description: 每页项数, 默认为20, 定义域:1-49
          schema:
            type: integer
        - name: pn
          in: query
          description: 页码, 默认为1
          schema:
            type: integer
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyHotResponse"
  /x/v2/reply/count:
    get:
      tags:
        - 评论区
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: type
          in: query
          description: 评论区类型代码, [类型代码见表](readme.md#评论区类型代码)
          schema:
            type: integer
            enum:
              - 1
              - 11
              - 12
              - 17
          required: true
        - name: oid
          in: query
          description: 目标评论区 id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyCountResponse"
  /studio/up-rating/v3/rating/info:
    get:
      tags:
        - 电磁力
      servers:
        - url: https://api.bilibili.com
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ElecInfoResponse"
  /studio/up-rating/rating/summary:
    get:
      tags:
        - 电磁力
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP 登录 Token
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ElecSummaryResponse"
  /studio/up-rating/rating/history:
    get:
      tags:
        - 电磁力
      servers:
        - url: https://api.bilibili.com
      parameters:
        - name: access_key
          in: query
          description: APP 登录 Token
          schema:
            type: string
        - name: type
          in: query
          description: 目标数据类型, 类型代码见下表
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ElecHistoryResponse"
  /x2/creative/web/seasons:
    get:
      tags:
        - 合集管理
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: pn
          in: query
          description: 页码
          schema:
            type: integer
          required: true
        - name: ps
          in: query
          description: 每页数量
          schema:
            type: integer
          required: true
        - name: order
          in: query
          description: 排序方式
          schema:
            type: string
            enum:
              - ctime
              - mtime
        - name: sort
          in: query
          description: 排序方式
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: draft
          in: query
          description: "1"
          schema:
            type: integer
            enum:
              - 1
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonsResponse"
  /x2/creative/web/season/add:
    post:
      tags:
        - 合集管理
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: title
          in: query
          description: 合集标题
          schema:
            type: string
          required: true
        - name: desc
          in: query
          description: 合集简介
          schema:
            type: string
        - name: cover
          in: query
          description: 封面图, 从[上传封面](upload.md#上传封面)处获取
          schema:
            type: string
          required: true
        - name: season_price
          in: query
          description: 0, 作用尚不明确
          schema:
            type: integer
            enum:
              - 0
        - name: csrf
          in: query
          description: CSRF Token(即Cookies中bili_jct)
          schema:
            type: string
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonAddResponse"
  /x2/creative/web/season/section/episodes/add:
    post:
      tags:
        - 合集管理
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: csrf
          in: query
          description: CSRF Token(即Cookies中bili_jct)
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - section_id
                - episode
              properties:
                episode:
                  type: array
                  description: 视频列表
                  items:
                    type: object
                    required:
                      - aid
                      - cid
                      - title
                      - charging_pay
                    properties:
                      aid:
                        type: integer
                        description: 视频 aid
                      cid:
                        type: integer
                        description: 稿件 cid
                      title:
                        type: string
                        description: 合集内单集标题
                      charging_pay:
                        type: integer
                        description: 0, 作用尚不明确
                        enum:
                          - 0
                section_id:
                  type: integer
                  description: 合集小节ID
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonSectionEpisodesAddResponse"
  /x2/creative/web/season/section/edit:
    post:
      tags:
        - 合集管理
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: csrf
          in: query
          description: CSRF Token(即Cookies中bili_jct)
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                section:
                  type: object
                  description: 小节信息
                  required:
                    - id
                    - seasonId
                    - title
                    - type
                  properties:
                    id:
                      type: integer
                      description: 小节ID
                    seasonId:
                      type: integer
                      description: 合集ID
                    title:
                      type: string
                      description: 小节标题
                    type:
                      type: integer
                      description: "1"
                sorts:
                  type: array
                  description: 排序列表
                  items:
                    type: object
                    required:
                      - id
                      - order
                    properties:
                      id:
                        type: integer
                        description: 合集内视频ID
                      order:
                        type: integer
                        description: 排序位置
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonSectionEditResponse"
  /x2/creative/web/season/edit:
    post:
      tags:
        - 合集管理
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: csrf
          in: query
          description: CSRF Token(即Cookies中bili_jct)
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                season:
                  type: object
                  description: 合集信息
                  required:
                    - id
                    - title
                    - cover
                    - desc
                    - season_price
                    - isEnd
                  properties:
                    cover:
                      type: string
                      description: 封面图, 从[上传封面](upload.md#上传封面)处获取
                      example: https://archive.biliimg.com/bfs/archive/77906db03b1eefac02613de184afad03f7bc58d7.jpg
                    id:
                      type: integer
                      description: 合集ID
                      example: 3541327
                    title:
                      type: string
                      description: 合集标题
                      example: IWILLBEDEL
                    desc:
                      type: string
                      description: 合集简介
                    season_price:
                      type: integer
                      description: 0, 作用尚不明确
                      enum:
                        - 0
                    isEnd:
                      type: integer
                      description: 是否完结, 0:未完结 1:完结
                      enum:
                        - 0
                        - 1
                sorts:
                  type: array
                  description: 排序列表
                  items:
                    type: object
                    required:
                      - id
                      - sort
                    properties:
                      id:
                        type: integer
                        description: 小节ID
                      sort:
                        type: integer
                        description: 排序位置
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonEditResponse"
  /x2/creative/web/season/del:
    post:
      tags:
        - 合集管理
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: id
          in: query
          description: 合集ID
          schema:
            type: integer
          required: true
        - name: csrf
          in: query
          description: CSRF Token(即Cookie中bili_jct)
          schema:
            type: string
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonDelResponse"
  /x/web/index/stat:
    get:
      tags:
        - 统计与数据
      servers:
        - url: https://member.bilibili.com
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpstatDetailResponse"
  /x/web/data/archive_diagnose/compare:
    get:
      tags:
        - 统计与数据
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: t
          in: query
          description: 时间戳
          schema:
            type: integer
        - name: size
          in: query
          description: 比较最近的N条视频, 默认5
          schema:
            type: integer
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArchiveDiagnoseResponse"
  /x/web/data/article:
    get:
      tags:
        - 统计与数据
      servers:
        - url: https://member.bilibili.com
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
  /x/web/data/pandect:
    get:
      tags:
        - 统计与数据
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: type
          in: query
          description: 目标数据类型, 类型代码见下表
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PandectResponse"
  /x/web/data/article/thirty:
    get:
      tags:
        - 统计与数据
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: type
          in: query
          description: 目标数据类型, 类型代码见下表
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleThirtyResponse"
  /x/web/data/survey:
    get:
      tags:
        - 统计与数据
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: type
          in: query
          description: 目标数据类型, 类型代码见下表
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SurveyResponse"
  /x/web/data/playsource:
    get:
      tags:
        - 统计与数据
      servers:
        - url: https://member.bilibili.com
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaysourceResponse"
  /x/web/data/base:
    get:
      tags:
        - 统计与数据
      servers:
        - url: https://member.bilibili.com
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatBaseDataResponse"
  /x/vu/web/cover/up:
    post:
      tags:
        - 投稿
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: ts
          in: query
          description: 当前时间, UNIX毫秒时间戳
          schema:
            type: integer
        - name: csrf
          in: query
          description: CSRF Token(位于Cookie中bili_jct)
          schema:
            type: string
          required: true
        - name: cover
          in: query
          description: 视频封面, 经过base64编码的图片数据
          schema:
            type: string
            format: base64
          required: true
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoverUpResponse"
  /x/vupre/web/archive/types/predict:
    post:
      tags:
        - 投稿
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: ts
          in: query
          description: 当前时间, UNIX毫秒时间戳
          schema:
            type: integer
        - name: csrf
          in: query
          description: CSRF Token(位于Cookie中bili_jct)
          schema:
            type: string
          required: true
        - name: filename
          in: query
          description: 视频文件名, 从视频上传接口获取,无后缀名,可为空
          schema:
            type: string
        - name: title
          in: query
          description: 视频标题
          schema:
            type: string
        - name: upload_id
          in: query
          description: 上传ID
          schema:
            type: string
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TypesPredictResponse"
  /x/vupre/web/tag/recommend:
    get:
      tags:
        - 投稿
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: upload_id
          in: query
          description: 同[预测稿件类型](#预测稿件类型)的`upload_id`
          schema:
            type: string
        - name: subtype_id
          in: query
          description: 子分区ID
          schema:
            type: integer
        - name: title
          in: query
          description: 视频标题
          schema:
            type: string
        - name: filename
          in: query
          description: 同[预测稿件类型](#预测稿件类型)的`filename`
          schema:
            type: string
        - name: description
          in: query
          description: 视频简介
          schema:
            type: string
        - name: cover_url
          in: query
          description: 视频封面URL, 不含`https:`或`http:`字串
          schema:
            type: string
        - name: t
          in: query
          description: 当前UNIX毫秒时间戳
          schema:
            type: integer
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagRecommendResponse"
  /x/vu/web/add/v3:
    post:
      tags:
        - 投稿
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: ts
          in: query
          description: 当前时间, UNIX毫秒时间戳
          schema:
            type: integer
        - name: csrf
          in: query
          description: CSRF Token(位于Cookie中bili_jct)
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - videos
                - cover
                - cover43
                - title
                - copyright
                - tid
                - tag
                - desc_format_id
                - desc
                - recreate
                - dynamic
                - interactive
                - act_reserve_create
                - no_disturbance
                - no_reprint
                - subtitle
                - dolby
                - lossless_music
                - up_selection_reply
                - up_close_reply
                - up_close_danmu
                - web_os
              properties:
                videos:
                  type: array
                  description: 视频信息, 若为分P视频, 请注意数组元素顺序
                  items:
                    type: object
                    required:
                      - filename
                      - title
                      - desc
                      - cid
                    properties:
                      filename:
                        type: string
                        description: 视频文件名, 从视频上传接口获取, 无后缀名
                        example: n240728ad33h52yqhxbtw51cb06sq9gx
                      title:
                        type: string
                        description: 分P标题
                        example: Telnet手打HTTP
                      desc:
                        type: string
                        description: 分P简介
                        example: ""
                      cid:
                        type: integer
                        description: 分P cid, 从视频上传接口获取, 即`biz_id`
                        example: 500001629877726
                cover:
                  type: string
                  description: 视频封面URL, 参见[上传视频封面](#上传视频封面)
                  example: https://archive.biliimg.com/bfs/archive/85447ea20431ef799382c403c84b4bfb82a41053.jpg
                cover43:
                  type: string
                  description: 视频封面URL(比例为4:3), 可为空
                  example: ""
                title:
                  type: string
                  description: 视频标题, 最多80字
                  example: Telnet手打HTTP
                copyright:
                  type: integer
                  description: 1:自制 2:转载
                  example: 1
                tid:
                  type: integer
                  description: 分类ID
                  example: 122
                tag:
                  type: string
                  description: 视频标签, 多个标签用`,`分隔, 最多10个
                  example: telnet,socket,tcp,linux,http
                desc_format_id:
                  type: integer
                  description: 简介格式ID?, 9999:纯文本
                  example: 9999
                desc:
                  type: string
                  description: 视频简介, 最多2000字
                  example: 测试用Telnet手打HTTP/1.x协议访问本地服务器, 无SSL/TLS支持
                recreate:
                  type: integer
                  description: 是否允许二创, -1:允许(默认) 1:不允许
                  example: -1
                dynamic:
                  type: string
                  description: 粉丝动态
                  example: for testing
                interactive:
                  type: integer
                  description: 互动视频?, 0:否
                  example: 0
                act_reserve_create:
                  type: integer
                  description: 活动预约?, 0:否
                  example: 0
                no_disturbance:
                  type: integer
                  description: 勿扰模式?, 0:否
                  example: 0
                no_reprint:
                  type: integer
                  description: 是否允许转载, 1:允许 0:不允许
                  example: 1
                subtitle:
                  type: object
                  description: 字幕信息
                  required:
                    - open
                    - lan
                  properties:
                    open:
                      type: integer
                      description: 是否启用字幕投稿, 0:启用(默认) 1:不启用
                      example: 0
                    lan:
                      type: string
                      description: 字幕投稿语言, 可为空
                      example: ""
                dolby:
                  type: integer
                  description: 杜比音效, 0:否(默认) 1:是
                  example: 0
                lossless_music:
                  type: integer
                  description: 无损音乐, 0:否(默认) 1:是
                  example: 0
                up_selection_reply:
                  type: boolean
                  description: 精选评论
                  example: false
                up_close_reply:
                  type: boolean
                  description: 关闭评论
                  example: false
                up_close_danmu:
                  type: boolean
                  description: 关闭弹幕
                  example: false
                web_os:
                  type: integer
                  description: 平台类型?
                  example: 3
      security:
        - sessionData: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddV3Response"
  /preupload:
    get:
      tags:
        - 投稿
      servers:
        - url: https://member.bilibili.com
      parameters:
        - name: name
          in: query
          description: 文件名, 会影响返回的上传地址
[...]
